.chip {
    font-size: 0.7rem;
    background: linear-gradient(to right, #e4ce08, #a19528);
    color: #fff !important;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    width: fit-content;
    text-transform: capitalize;
}
